*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* HEADER */

header{
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.row-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: white;
}

.row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.col-header{
    width: 10%;
    text-align: center;
}

.col-footer25-start{
    width: 25%;
    display: flex;
    
}
.col-footer25-end{
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
}
    


.col-footer50{
    width: 50%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}
.button-header{
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    padding: 2%;
    border-radius: 7px 7px 7px 7px;
    border: none;
    cursor: pointer;
}

i{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    color: white;
    background-color: transparent;
    
}
.icons{
    margin-right: 10px;
}
/* MAIN */

main{
     background-color: black;
     height: calc(100vh - 80px);
     width: 100%;
     overflow-y: auto;
     
}
    
.container-main{
    width: 85%;
    margin: 0 auto;
}

.row-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.col-main{
    width: calc(100% / 7);
    
    border: 3px solid black; 
    position: relative;
}

.img{
    width: 100%;
}

.label{
    position: absolute;
    color: white;
    font-size: 13px;
    bottom: 1px;
    left: 0;
    background-color: rgba(128, 128, 128, 0.604);
    padding: 3%;
    transition: 0s;
    cursor: pointer;
}


.label:hover{
    background-color: rgba(255, 255, 255, 0.492);
}

/* FOOTER */

.row-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer{
    width: 100%;
    margin: 0 auto;
    
}

.elements{
    margin-right: 20px;
    text-align: center;
}

.button-footer{
    background-color: rgba(128, 128, 128, 0.8);
    color: red;
    padding: 2%;
    border: none;
    cursor: pointer;
}


